body{
    margin: 0px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.background {
    background-image: url(./images/yellow-flowers.jpg);
    background-size: cover;
}
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    color: white;
    font-size: 24px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    height: 2.5rem;
    bottom: 0;
    width: 100%;
}

.link-list {
    display: inline-flex;
    justify-content: space-between;
    gap: 20px;
    font-size: 18px;
}

.logo{
    font-weight: bold;
}

.content {
    display: flex;
    flex-flow: column nowrap;
}

.content div {
    width: 100%;
    flex: 1 1 auto;
}

.top-level {
    background-color: #1F2937;
}

img.resize{
    width: 60%;
    height: auto;
}

.top-level {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
    padding: 30px;
    width: 100%;
    margin: 0px;
    flex: 1;
}

.pitch p{
    color: white;
    flex: 1 1 auto;
    font-size: 12px;

}

